<?xml version="1.0" encoding="utf-8"?> 
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.ogp.cputableau"
      android:versionCode="230"
      android:versionName="2.0.230">
      
    <uses-sdk android:minSdkVersion="9"  android:targetSdkVersion="19" />
    
  	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  	<uses-permission android:name="android.permission.WAKE_LOCK" />
  	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
  	<uses-permission android:name="android.permission.CALL_PHONE" />
  	  	
    <application android:label="@string/app_name" 
        		 android:icon="@drawable/icon" 
        		 android:allowBackup="true" >
        		 
    	<activity android:name=".CPUTableauActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Dialog" >
                  
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service android:enabled="true" 
            	 android:name="com.ogp.cputableau.CPUTableauService" />
        
        <receiver android:name="BootLoader" 
            	  android:process="com.ogp.cputableau.CPUTableauService" >
            
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
	</application>
</manifest> 
